server:
  port: 8090

spring:
  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 10MB
  jpa:
    hibernate:
      ddl-auto: create-drop
    generate-ddl: true
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database: MySQL
  datasource:
    driverClassName: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://mysql_realestate:3306/realestate
    username: root
    password:

application:
  security:
    jwt:
      secret-key: 8d4fed75477d160c393db8a22edce23a5ae7971b4533077d89ac0016dd92c879d21791073310294924cb896443a8214cfdc129baa42af8b3030a397382a93532
      expiration: 86400000 # 24/7
      refresh-token:
        expiration: 604800000 # 7 days
  custom:
    file-storage:
      image-directory: ./resources/images

    #logging:
    #  level:
    #   root: debug  # Set the root logging level to DEBUG
    #  org.springframework: debug  # Enable debug logging for Spring Framework classes
    # com.intela.realestatebackend: debug  # Enable debug logging for your application's package
    #org.hibernate.SQL: debug  # Logs all SQL statements
    #org.hibernate.type.descriptor.sql.BasicBinder: trace  # Logs SQL parameters
